body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f2f2f2;
font-family:Arial;
transition:0.3s;
}

.calculator{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.top{
display:flex;
gap:10px;
margin-bottom:10px;
}

#display{
flex:1;
height:50px;
font-size:20px;
text-align:right;
padding:10px;
border-radius:10px;
border:none;
background:#eee;
}

#toggle{
padding:10px;
border:none;
border-radius:10px;
cursor:pointer;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,70px);
gap:10px;
}

button{
padding:15px;
font-size:16px;
border:none;
border-radius:10px;
background:#e0e0e0;
cursor:pointer;
transition:0.2s;
}

button:hover{
transform:scale(1.05);
background:#d0d0d0;
}

.zero{
grid-column:span 2;
}

.dark{
background:#1e1e1e;
color:white;
}

.dark .calculator{
background:#2b2b2b;
}

.dark #display{
background:#444;
color:white;
}

.dark button{
background:#555;
color:white;
}

.dark button:hover{
background:#666;
}